<%- include('../partials/header') %>

<body>
    <h1>Add a Flight</h1>
    <form action="/flights" method="POST" autocomplete="off">
        <label>Airline:</label>
            <select name="airline">
                <option value="American">American</option>
                <option value="Delta">Delta</option>
                <option value="Southwest">Southwest</option>
                <option value="United">United</option>
            </select>
        
        <label>Airport:</label>
            <select name="airport">
                <option value="ATL">ATL</option>
                <option value="DFW">DFW</option>
                <option value="DEN">DEN</option>
                <option value="LAX">LAX</option>
                <option value="SAN">SAN</option>
            </select>
        
        <label>Flight No:</label>
            <input name="flightNo" type="number">

        <label>Departure:</label>
            <input name="depart" type="date">
        
        <input type="submit" value="Add Flight">
    </form>
</body>

<%- include('../partials/footer') %>